[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
coveralls = "*"
flake8 = "*"

[packages]
jsonrpcbase = "==0.2.0"
requests = "==2.23.0"
pandas = "==1.0.1"
gtdbtk = "==2.0.0"

[requires]
python_version = "3.6"
